**/.ipynb_checkpoints/
*.ini

# clustering
clustering/questionData.csv

# flightDelay
flightDelay/FlightDelaysData.csv
flightDelay/FlightDelaysData_clean.csv
flightDelay/WeatherDataset.csv

# regression
regression/kc_house_data.csv

# tensorflow
tensorflow/images/
tensorflow/images_all
tensorflow/labels.csv